#include <os2.h>
#include "hello.h"

MENU ID_MENU
BEGIN
    SUBMENU "~File", 100
    BEGIN
        MENUITEM "~Open directory...", IDME_OPEN
    END
END

DLGTEMPLATE ID_DLG
BEGIN
    DIALOG "", 100, 6, 52, 292, 113, WS_VISIBLE
    BEGIN
        DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
    END
END
