#include <os2.h>
#include "hello.h"

MENU ID_MENU
BEGIN
    SUBMENU "~File", 100
    BEGIN
        MENUITEM "~Open directory...", IDME_OPEN
    END
END

DLGTEMPLATE ID_DLG
BEGIN
    DIALOG "", 100, 6, 52, 292, 113, WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
    BEGIN
        DEFPUSHBUTTON "OK", DID_OK, 6, 4, 51, 14
        PUSHBUTTON "Cancel", DID_CANCEL, 60, 4, 51, 14
        PUSHBUTTON "Help", 998, 114, 4, 51, 14, BS_HELP
        CONTROL "Sample", 101, 12, 70, 229, 12, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | ES_ANY | WS_VISIBLE | WS_GROUP | WS_TABSTOP
        CONTROL "Open directory:", 102, 9, 87, 72, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
    END
END
